<%= form_for @user, :url =>  update_profile_profile_path(@user), :method=>:put do |f| %>

<%= render :partial => "error" %>

<div class="panel panel-default">
 <div class="panel-heading">Edit User Profile </div>
 <div class="panel-body">
   <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
   
  <div class="form-group">
    First Name<br>
    <%= f.text_field :first_name , autofocus: true, class: "form-control", :id => "first_name"%>
  </div>

  <div class="form-group">
    Last Name<br>
    <%= f.text_field :last_name , autofocus: true, class: "form-control", :id => "last_name"%>
  </div>

  <div class="form-group">
    Age <br>
    <%= f.text_field :age , autofocus: true, class: "form-control", :id => "age"%>
  </div>

  <div class="form-group">
    Gender <br>
  <%= f.select :gender, options_for_select(%w[Male Female]), {}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    Mobile Number <br>
    <%= f.text_field :mobile_number , autofocus: true, class: "form-control", :id => "mobile_number"%>
  </div>

  <div class="form-group">
    Upload Avatar <br>
    <%= f.file_field :image %>
  </div>

  <%= f.submit "Update Profile"%>
</div>
</div>

</div>
<% end %>
<div class="panel panel-default">
 <div class="panel-heading">Change Password </div>
 <div class="panel-body">

 <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
   <%= render :partial => "change_password" %>
 </div>
</div>
</div>
</div>