		<div id="da-login-box">
			<div id="da-login-box-header">
				<h1>Login</h1>
			</div>
			<div id="da-login-box-content">

				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {id: 'da-login-form', method: :put}) do |f| %>
				<%= devise_error_messages! %>
				<%= f.hidden_field :reset_password_token %>

				<div id="da-login-input-wrapper">

					<div class="da-login-input">
						<%= f.password_field :password, autocomplete: "off", id: "da-login-password",
						placeholder: "Password" %>
					</div>
					<div class="da-login-input">
					<%= f.password_field :password_confirmation, autocomplete: "off", id: "da-login-password",
						placeholder: "Retype-Password" %>
					</div>
				</div>
				<div id="da-login-button">
					<!-- <input type="submit" value="Login" id="da-login-submit" /> -->
					<%= f.submit "Change My Password", id: "da-login-submit" %>
				</div>
				<% end %>
			</div>
			<div id="da-login-box-footer">
				<%= render "devise/shared/links" %>
				<div id="da-login-tape"></div>
			</div>
		</div>