<div id="da-login-box">
  <div id="da-login-box-header">
      <h1>Forgot your password?</h1>
    </div>
    <div id="da-login-box-content">
              
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<%= devise_error_messages! %>
          <div id="da-login-input-wrapper">
              <div class="da-login-input">
                  <%= f.email_field :email, autofocus: true, id: "da-login-username", placeholder:"Email address"%>
                </div>
            </div>
            <div id="da-login-button">
              <%= f.submit "Send reset password info", id: "da-login-submit" %>
            </div>
        <% end %>
    </div>
    <div id="da-login-box-footer">
         <%= render "devise/shared/links" %>
        <div id="da-login-tape"></div>
    </div>
</div>