<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @order.first_name1 + (" ")+ @order.last_name1  %>
</p>

<p>
  <strong>Email Id:</strong>
  <%= @order.email  %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address1 %>
</p>

<p>
  <strong>Landmark:</strong>
  <%= @order.landmark1 %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @order.pincode1 %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city1 %>
</p>

<p>
  <strong>State:</strong>
  <%= @order.state1 %>
</p>


<p>
  <strong>Phone:</strong>
  <%= @order.phone1 %>
</p>