<article>	
  <div class="box-maincheckout">
    <div class="container">
      <div class="box-checkout">
        <div class="box-checkoutinform">
        <% if current_user.present? %>
          <h4 class="bposi-order"><span class="step">Step 2</span> <span class="text-informationSpacing">Address Info, Confirm & Payment</span></h4>
          <% else %>
          <h4 class="bposi-order"><span class="step">Step 3</span> <span class="text-informationSpacing">Address Info, Confirm & Payment</span></h4>
          <% end %>
          <div class="box-mainnew">
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="box-new">
                  <div class="box-contenT">
                    <h4>Billing Address</h4>
                    <%= render :partial => "confirm" %>	
                  </div>
                </div>
                
                <div class="box-new">
                  <div class="box-contenT">
                  <h4>Shipping Address</h4>
                  <% if @order.same_as_billing? %>
                    <%= render :partial => "confirm" %> 
                  <% else %>
                    <%= render :partial => "shipping" %> 
                  <% end %>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="box-new">
                  <div class="box-order">
                    <p style="font-size: 22px;" class="text-muted">
                      Order Summary
                    </p>
                    <div class="table-responsive">
                      <table class="table-bordered">
                      <tr>
                        <th>Image</th>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Unit Price</th>
                        <th>Full Price</th>
                      </tr>
                      <% for line_item in current_cart.line_items %>
                      <tr>
                        <td width="20%"><%= image_tag(line_item.product.images.present? ? (line_item.product.images.first.avatar.url) : "/assets/missing.png", height: "50px", width: "80px") %></td>
                        <td width="40%"><%= line_item.product.name %></td>
                        <td width="5%"><%= line_item.quantity %></td>
                        <td width="15%">Rs. <%= line_item.unit_price %></td>
                        <td width="20%">Rs. <%= line_item.full_price %></td>
                      </tr>
                      <% end %>
                    </table>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="box-new">
                  <div class="box-contenT">
                    <p style="font-size: 22px;">
                      Order Total:
                    </p>
                    Rs. <%= current_cart.total_price %>
                    <br/>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="box-new">
                  <div class="box-contenT">
                    <p style="font-size: 22px;">
                      Delivery Method
                    </p>
                    <%= image_tag("cod1.jpg", height: "140px", width: "140px") %>
                    <br/>
                  </div>
                </div>
              </div>
              
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="box-new">
                  <div class="box-contenT">
                    <%= form_for(@myproduct, :url => confirm_myorder_order_path(params[:id]), :method => "PUT") do |f| %>
                      <%= f.submit "Confirm My Order",:class => "btn" %>
                    <% end %>
                    
                    <p>
                      <%#= link_to "Confirm My Order", confirm_myorder_order_path, :class => "btn" %>
                    </p>  
                    <br/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>	
      </div>
    </div>
  </div>	
</article>