<article>
<div class="box-myorder">

		<div class="container">
			<div class="heading-spacing">
				<h1><span>My Order</span></h1>
			</div>


<div class="table-responsive">
	<table class="table table-bordered">
	<% if @all_carts.present? %>
					<% @all_carts.each do |cart| %>
					<% if cart.present? %>
		<tr>
		<th></th>
			<th><%= "ORDER - #{cart.order.id}" %></th>
			<th>Order Total - Rs. <%= cart.total_price %></th>
			<th>Order Date - <%= cart.created_at.strftime("%Y-%m-%d") %></th>
			
			<% if(cart.order.status != "Returned" && cart.order.status != "Cancelled" && cart.order.status != "Shipped") %>
			<th><%= link_to "Cancel My Order", cancel_order_order_path(cart.order.id), :method => "PUT", :class => "btn" ,data: {confirm: 'Are You Sure ? To CANCEL Your Order'}%></th>
			<% end %>
		</tr>

		<% cart.line_items.each do |line_item| %>
			<tr>
				<td> <%= image_tag(line_item.product.images.present? ? (line_item.product.images.first.avatar.url) : "/assets/missing.png", height: "50px", width: "50px") %></td>
				<td><%= line_item.product.name %></td>
				<td>Qty:<%= line_item.quantity %></td>
				<td>Rs.<%= line_item.unit_price %></td>
				<td><%= cart.try(:order).status %></td>
			</tr>
				<% end %>		
				<% end %>
				<% end %>
			<% end %>
	</table>
</div>
</div>

	</article>
