
 <div class="list_price col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="box-rightcategory">
              <div class="box-producT">
                <span><%= link_to "Back to Category", @product.sub_category.present? ? home_path(@product.sub_category.id) : home_path(@product.category.id, :param1 => 'parent') %></span>
              </div>
              <div class="box-producT">
                <h4><%= @product.name %></h4>
                <br/>
                <p>Availability <span class="instock">In Stock</span> <%= (@product.quantity.blank? || @product.quantity == 0) ? (0) : (@product.quantity) %> item(s)</p>
                
                <% if @product.discount? %>
                <span  style="text-decoration: line-through; font-size:14px ;  ">Rs. <%= @product.price %></span>
                <span class="circleP single-circle">
                  <%= @product.discount%>%
                </span>

                <br/>
                <span style="font-size:21px"><%= number_to_currency(@product.price-(@product.price * @product.discount/100), :unit => "Rs.") %></span>
                <% else %>
                <h2> <%= number_to_currency(@product.price, :unit => "Rs.") %></h2>
                <%end %>
                <br/>
                
                <% if @product.product_size.present?  %>
                <span  style="margin-right: 20px;">
                  <b>Color:</b> <%= @product.color.capitalize %> 
                </span>
                <% end %>

                <% if @product.product_size.present?  %>
                <b>Size:</b> <%= @product.product_size %>
                <% end %>
                <br/> <br/>
              </div>
              <div class="box-producT">
                <div class="tab-description">
                  <ul id="myTab" class="nav nav-tabs">
                    <li class="active">Description</li>
                  
                  </ul>
                  <div class="clearF"></div>
                  <div class="tab-content">
                    <div class="tab-pane active" id="description">
                      <div class="carousel slide" id="carousel-1">
                        <div class="carousel-inner alc">
                          <div class="item active">
                            <div class="list_carousel_tab">

                              <p>
                                <%= @product.description.html_safe %>
                              </p>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
              

                  </div>
                </div>
              </div>
              <div class="box-producT">
                <div class="box-select">
                  <div class="row" id="row-div">
                    <% if(@product.quantity.blank? || @product.quantity == 0) %>
                    No Items There In Stock.
                    <% else %>
                    <%= link_to "Add to Cart", line_items_path(:product_id => @product.id), :method => :post ,:class => "btn btn-default"%>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <style>
       
  .tab-description .tab-content {
font-size: 15px;
color: #646464;
/* line-height: 28px; */
padding: 16px 19px 0px 19px;
border: 1px solid golden;
/* border-right: 1px solid #ddd; */
/* border-bottom: 1px solid #ddd; */
background-color: #ffffff;
border: 1px solid goldenrod;
text-align: left;
cursor: pointer;
}

div#row-div{
padding: 0px 0px 0px 13px;


}
      </style>