<div class="da-panel collapsible">
  <div class="da-panel-header">
    <span class="da-panel-title">
      <img src="/assets/admin/images/icons/black/16/list.png" alt="" />
      Product Listing
    </span>

  </div>
  <div class="da-panel-content">
    <table id="da-ex-datatable-default" class="da-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Discount</th>
          <th>Total Qty</th>
          <th></th>
          <th>Featured</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name.capitalize %></td>
            <td><%= product.description.truncate(100).html_safe %></td>
            <td><%= product.price %></td>
            <td><%= number_to_percentage(product.discount) %></td>
            <td><%= (product.quantity.blank? || product.quantity == 0) ? (0) : (product.quantity) %></td>
            <td class="da-icon-column">
              <%= link_to admin_product_path(product.id) do %>
                <img src="/assets/admin/images/icons/color/magnifier.png" />
              <% end %>

              <%= link_to edit_admin_product_path(product.id) do %>  
                <img src="/assets/admin/images/icons/color/pencil.png" />
              <% end %>

              <%= link_to admin_product_path(product.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <img src="/assets/admin/images/icons/color/cross.png" />
              <% end %>
            </td>
            <td class="da-icon-column">
              <% if product.is_featured == true %>
                <%= link_to '',flag_admin_product_path(:id => product,:is_featured => false),:class =>"fa fa-star fa-2x",data: {confirm: 'You Dont Want To Add This Item As Featured'}  %>
              <% else %>
                <%= link_to '',flag_admin_product_path(:id => product,:is_featured => true),:class =>"fa fa-star-o fa-2x",data: {confirm: 'You Want To Add This Item As Featured'}  %>
              <% end %>            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>  