<div class="grid_4">
  <%= link_to 'New Product', new_admin_product_path, :class => "pull-right btn btn-info" %>
  <h1>Product</h1>
  <%= form_tag admin_products_path, :method => 'get',:id => "products_search" do %>
    <p class="search">
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil,:class => "btn btn" %>
    </p>
  <% end %>

  <% unless @products.empty? %>
    <div id="products"><%= render :partial => 'products' %></div>

    <script type="text/javascript">
      $(function() {
        // Sorting and pagination links.
        $('#products th a, #products .pagination a').live('click', function() {
          $.getScript(this.href);
          return false;
        });

        // Search form.
        $('#products_search input').keyup(function() {
          $.get($("#products_search").attr("action"), $("#products_search").serialize(), null, 'script');
          return false;
        });
      });
    </script>
  <% else %>
    <h4>No products found.</h4>
  <% end %>
  <%= will_paginate @products %>
</div>