<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  
<h2>Hello Admin,</h2>

<p>New Order Information.</p>

<p>
  <strong>Name:</strong>
  <%= @order.first_name + (" ")+ @order.last_name  %>
</p>


<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Landmark:</strong>
  <%= @order.landmark %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @order.pincode %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @order.state %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p></p>
<br/>
<p>Thanks</p>
<p>Team Rosara.in </p>
  </body>
</html>
