<footer>
  <div class="box-missOut">
    <div class="container"> 
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <h6>Don't miss out</h6>
          <p>Stay stylishly up-to-date with the latest news and new arrivals direct to your inbox.</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <%= link_to "Sign up for newsletter", "#", "data-toggle"=>"modal", "data-target"=>"#myModalNews", :class => "btn btn-signup" %>
        </div>
      </div>



    </div>
  </div>
  <div class="container">
    <div class="box-contact clearfix">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="myModal">
          <h6 class="heading-footer"><span class="icon-phone"></span>Contact us</h6>
          <div class="box-contactDetail clearfix">
            <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">Email us on</div>
            <div class="col-xs-6 col-sm-7 col-md-7 col-lg-7"><a href="mailto:info@rosaralifestyle.com" title="info@rosaralifestyle.com">info@rosaralifestyle.com</a></div>
            <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">Call us on</div>
            <div class="col-xs-6 col-sm-7 col-md-7 col-lg-7">0091 9980925153</div>
          </div>  
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <h6 class="heading-footer"><span class="icon-map"></span>Address</h6>
          <p>No. 164, KIADB Industrial Area, Bommasandra -Jigani Link Road, Bangalore 560 105 </p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 box-follow">
          <h6 class="heading-footer"><span class="glyphicon glyphicon-play" style="font-size: 14px; margin:0px 5px 0 ; position: relative; top: -1  px;"></span>Follow us</h6>
          <ul class="list-footerSocial">
          <li class="icon-facebook"><a target="_blank" title="facebook" href="http://www.facebook.com"><img src="/assets/facebook.png"></a></li>
            <li class="icon-twitter"><a target="_blank" title="twitter"  href="http://www.twitter.com"><img src="/assets/twitter.png"></a></li>
          
            <li class="icon-linkedin"><a target="_blank" title="linkedin" href="http://www.linkedin.com"><img src="/assets/linkedin.png"></a></li>

            <li class="icon-instagram"><a target="_blank" title="instagram" href="http://www.instagram.com"><img src="/assets/instagram.png"></a></li>
            <li class="icon-pinterest"><a target="_blank" title="pinterest" href="http://www.pinterest.com"><img src="/assets/pinterest.png"></a></li>
          </ul>
          <div class="link-readBlog"><a href="#" title="Read our blog">Read our blog</a></div>
        </div>
      </div>
    </div>
    <div class="box-copyright">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">&copy; 2014 The Rosara Home Lifestyle. All Rights Reserved.</div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <ul class="menu-footer">
            <!-- <li><%#= link_to "How to buy", how_to_buy_homes_path, :title => "How to buy" %></li> -->
            <li><%= link_to "FAQ's", faq_homes_path, :title => "FAQ's" %></li>
            <li><%= link_to "Payment", payment_homes_path, :title => "Payment" %></li>
            <!-- <li><%#= link_to "Shipment", shipment_homes_path, :title => "Shipment" %></li> -->
            <% if current_user %>
            <li><%= link_to "My order", myorder_orders_path, :title => "My order" %></li>
            <% end %>
            <li><%= link_to "Terms", terms_homes_path, :title => "Terms" %></li>
            <li><%= link_to "Return Policy", return_policy_homes_path, :title => "Return Policy" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="newsletter">
  <%= render :partial => 'homes/new_news_letter' %>
</div>