<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Rosara</title>
  <link rel="icon" type="image/gif" href="/assets/favi.icon/" />
      <!-- <link rel="icon" type="image/x-icon" href="/assets/logo_home.png" /> -->
  <%= stylesheet_link_tag "application", "css/default.css", :media => "all" %>
  <%= javascript_include_tag "application","js/bootstrap/bootstrap.min.js", "js/bootstrap/ie-bootstrap-carousel.min.js", "js/gallery/jquery.elevatezoom.min.js", "js/custom.js" %>
    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="css/internet-explore9.css"/>
    <script type="text/javascript" language="javascript" src="/assets/js/html5.js"></script>  
    <![endif]-->
    <%= csrf_meta_tags %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-63906984-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <header>
      <div class="topbar clearfix">
        <div class="container">
          <ul class="menu-signup">
            <li class="icon-help">
             <!--  help  link removed -->
           </li>
           <% if !current_user %>
           <%= link_to "Signup", "#", :onclick => "signup()",:class => "changecolor" %>&nbsp;&nbsp;&nbsp;&nbsp;
           <%= link_to "Login", "#", :onclick => "signin()" , :class => "changecolor"%>

           <% end %>

           <% if current_user%>
           <li class="icon-up">
            <%= link_to "Profile", profiles_path %>
          </li>
          <li class="icon-in">
            <%= link_to("Log Out", destroy_user_session_path, :method => :delete)%>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="box-logo">
        <div class="row">
          <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
            <h1 id="logo"><%= link_to "Rosara", root_path, :title => "Rosara" %></h1>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 text-right"> 

            <div class="bposi">


              <%= form_tag search_homes_path, :method => 'get',:id => "products_search" do %>

              <%= link_to "Cart #{current_cart.line_items.count}", carts_path, :class => "chart changecolor", :title => "Cart" %>
              <%= text_field_tag :search, params[:search], :placeholder => "Search", :class => "input-search" %>
              <%= submit_tag "Search", :name => nil,:class => "btn-search", :value => "" %>

              <% end %>

            </div>    

          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="glyphicon glyphicon-align-justify"></span> Menu</button>
      </div>
    </div>
    <!-- <div class="menu-bar"> -->
    <!-- <div class="container"> -->
    <div class="menu-bar">
     <div class="container">
       <div class="navbar-collapse collapse">

        <%= render :partial => "layouts/new_navbar" %>
      </div>
    </div>
  </div>
  <!-- </div> -->

  <!-- </div> -->
</header>
<%= render :partial => "layouts/notice_app" %>
<%= yield %> 
<%= render :partial => "layouts/footer" %>
</body>
</html>

<div class="modal fade" id="SignIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close icon-close" data-dismiss="modal" aria-hidden="true">&times;</button>




          <h2 class="modal-title" id="myModalLabel">Welcome To Rosara Home</h2>
          <div class="modal-body">
                <div class="row">
        <div class="col-md-6">
          <img class="prodimg" src="/assets/Giveaways1.jpg" alt="Give away">
        </div>
        <div class="col-md-6">

<h2>SignIn</h2>
<a href="/users/auth/facebook"><img alt="Facebook button" border="0" height="29" src="/assets/facebook button.png" style="margin-right:-4px;margin-bottom: 5px;" width="107"></a>
        <%#= link_to "Sign in with Facebook", user_omniauth_authorize_path("facebook"), id: "sign_in" %>
        <br/>

            <%= render :partial => '/devise/sessions/new' %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="SignUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close icon-close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h2 class="modal-title" id="myModalLabel">SignUp</h2>
      <div class="modal-body">
       <div class="row">
        <div class="col-md-6">
          <img class="prodimg" src="/assets/Giveaways1.jpg" alt="Give away">
        </div>
        <div class="col-md-6">
          <%= render :partial => '/devise/registrations/new' %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  function signin(){
    $("#SignIn").modal();
  }
  function signup(){
    $("#SignUp").modal();
  }
</script>

<style>
.changecolor
{
color: #c29d12;
}

</style>